[pylint]
# Use tabs for indentation
indent-string = \t

# Increase the line-too-long limit to 120 characters
max-line-length = 120

# Disable logging-fstring-interpolation errors
disable = logging-fstring-interpolation
